@{
    ViewData["Title"] = "PROJETO AV1";
}

<div class="text-center">
    <h1 class="display-4">Meu nome é Gustavo Guenka</h1>
    <p>Melhor som do Major RD <a href="https://www.youtube.com/watch?v=qNSg5je8FRA&ab_channel=MajorRD">escuta a braba ae</a>.</p>
</div>
